/* Styles for horror festival */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'Unibody8ProReg';
    src: url('../fonts/Unibody8Pro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'impact_labelregular';
    src: url('../fonts/Impact_Label-webfont.eot');
    src: url('../fonts/Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Impact_Label-webfont.woff') format('woff'),
    url('../fonts/Impact_Label-webfont.ttf') format('truetype'),
    url('../fonts/Impact_Label-webfont.svg#impact_labelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact_Label_Rev';
    src: url('../fonts/Impact_Label_Reversed.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    color: #28ae18;
    font-family: 'Unibody8ProReg', Helvetica, Arial, sans-serif;
    background-image: url('../images/metal.jpg');
}
.wrapper {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.pure-g [class *="pure-u"] {
    font-family: 'Unibody8ProReg';
}
.unibody {
    font-family: 'Unibody8ProReg';
}
.dymo {
    font-family: 'impact_labelregular';
    letter-spacing: normal;
}
.dymoRev {
    font-family: 'Impact_Label_Rev';
}
.blueText {
    color: #285fff;
}
.redText {
    color: #ff1a26;
}
.blackText {
    color: #000000;
}
.whiteText {
    color: #ffffff;
}
.greenText {
    color: #389727;
}
.centred {
    text-align: center;
}
.rotate90 {
    transform-origin: 66.5% 14.5%;

    transform: rotate(-90deg);
}
.rotateClock90 {
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}
.spacer {
    width: 100%;
    padding: 3% 0;
}
.fontSmaller {
    font-size: 0.8em;
}
.fontNormal {
    font-size: 1em;
}
.fontMedium {
    font-size: 1.2em;
}
.paddingSmall {
    padding-top: 3%;
}
.paddingLarge {
    padding: 10%;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.noHighlight {
    padding-left: 5em;
}
.highLight {
    border: 2px solid green;
}
.darkBackground {
    background-image: url("../images/background.png");
    background-size: 7%;
}
.pushButton img {
    display: inline;
    width: 10%;
    height: 10%;
    vertical-align: middle;
}
.mainContainer {
    width: 60%;
}
.statusContainer {
    width: 20%;
}
.filmList {
    list-style: none;
}
.rightAlign {
    float: right;
}
.rightIndent {
    padding-right: 3%;
}
.newLine {
    display: block;
}
.align {
    margin-left: -170%;
}
.align img{
    vertical-align: middle;
}
.led img {
    width: 1.2em;
    height: 1.2em;
}
.grid img {
    margin: 2px;
}
.lights img {
    margin: 0 1.5%;
}
#lights {
    padding-left: 5%;
}
.rounded {
    border-radius: 5px;
}
.lightLabels {
    display: inline;
}
.zones {
    margin-right: 3%;
}
#synopsisContainer {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.5%;
}
#selectedContainer {
    margin-bottom: 0.35%;
}
#selected {
    padding-left: 1%;
}
#selectedTitle {
    padding-left: 3%;
    margin-bottom: 4%;
}
#dates {
    float: right;
    margin-right: 3%;
}
#listings {
    margin-left: 15%;
}
#synopsis {
    padding: 0 3%;
    margin-bottom: 7%;
}
#synopsisLabel {
    float: right;
    padding-right: 1%;
}
#topTitle {
    margin-bottom: 1%;
}
#statusLabel {
    margin-bottom: 1%;
}
#selectedStatus {
    margin-left: 40%;
}
#timeTable {
    margin-bottom: 2%;
}
#twitterLabel {
    margin-bottom: 0.5%;
}
#twitterContent {
    padding: 0 1%;
    margin-bottom: 1%;
}
#brainLabel {
    margin-bottom: 1%;
}
#WebGL-Output {
    overflow: hidden;
}
#describeLabel {
    margin-top: 2%;
}