/* Styles for horror festival */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    background-color: #000000;
    color: #7fa5ff;
    font-family: Helvetica, Arial, sans-serif;
}
.centred {
    text-align: center;
}
.time {
    margin: 1em;
    font-size: 1.5em;
}
#timeBanner {
    margin-right: 1em;
}
.timeTable {
    margin: 2em;
}
.synopsis {
    padding: 2em;
}
.filmList {
    list-style: none;
    font-size: 1.5em;
    margin: 1em 0.1em;
}
.filmList li {
    border: 2px solid black;
}
.container {
    font-size: 1.5em;
    margin: 1em 0.1em;
}
.space {
    height: 75%;
}
.highLight {
    border: 2px solid green;
}
.thumbnail-large {
    overflow: hidden;
}
.thumbnail-large img {
    max-width: 30%;
    max-height: 30%;
}