/* Brain visualisation */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
    overflow: hidden;
    background: #000000;
    color: #285fff;
}
#notSupported {
    width:25%;
    margin-left: auto;
    margin-right: auto;
}
.hide {
    display: none;
}
.errorMessage {
    margin-top: 20%;
    padding: 2%;
    border-radius: 15px;
    background: #444444;
}
.centred {
    text-align: center;
}
#info img {
    width: 3%;
    height: 3%;
}
.infoPanel {
    font-size: 1em;
    font-family: Helvetica;
    width: 15%;
    margin: 1%;
    border-radius: 15px;
    background: #666666;
    color: #31a7e0;
}